.mainContainer {
  /* width: 738.33px; */
  border: 1px 0px 0px 0px;
}
.title > h1 {
  font-family: Ubuntu;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 32.17px;
  text-align: left;
  color: white;
}
.container {
  background-color: white;
  height: 45vh;
  border-radius: 0.5rem;
  border: 1px 0px 0px 0px;
}
.subContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 23%;
}
.leftSubContainer {
  /* display: flex; */
  width: 5%;
}
.leftSubContainer > div {
  height: 2rem;
  width: 2rem;
  background: rgba(217, 217, 217, 1);
  padding: 0.5rem;
  border-radius: 50%;
}
.details {
  width: 70%;
}
.rightSubContainer {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}
.rightSubContainer > p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
  color: rgba(244, 187, 74, 1);
}
.rightSubContainer > button {
  border: 0;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: rgba(255, 62, 62, 1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  gap: 1rem;
  margin: 0.8rem;
}
