.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subContainer {
  width: 95%;
  height: 45vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px;
}
