.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 40vh; */
  padding: 1rem 0;
}
.subContainer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px;
}
.leftContainer {
  width: 63%;
  height: 48vh;
}
.rightContainer {
  width: 33%;
  height: 48vh;
}
